.about {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/sea-6811812__340.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}