@media (max-width: 1366px) {
    .manage1notice {
        top: 20px;
        width: 850px;
        height: 90vh;
        top: 20px;
        left: 40px;
        background-color: #C4C4C4;
        border-radius: 30px;
        color: rgb(158, 131, 131);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .mannoticetitle {
        position: absolute;
        left: 16px;
        bottom: 528px;
        color: rgb(22, 16, 16);
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    .manage2notice {
        width: 850px;
        height: 475px;
        background-color: #383333;
        color: rgb(187, 167, 167);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
      
      .noticebackbtn1 {
        background-color: blue;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        bottom: 2%;
        left: 2.5%;
        cursor: pointer;
        transition: 0.5s ease;
      }
      
      .noticebackbtn1:hover {
        background-color: red;
      }

    
    .ncellColor1 {
        color: rgb(12, 9, 9) !important;
        font-size: 100px;
        background-color: #ececec;
    }

    .ncellColor2{
        color: rgb(0, 0, 0) !important;
        background-color: #C4C4C4;
    }
    
    .nheadcolor1 {
        border: 1px solid #000000;
        border-radius: 5px;
        font-weight: bold;

    }
    .noticeselect{
        background-color: rgba(117, 70, 80, 0.356);
        border-radius: 5px;

    }
    }





    
    .manage1notice {
        top: 20px;
        width: 850px;
        height: 90vh;
        top: 20px;
        left: 40px;
        background-color: #C4C4C4;
        border-radius: 30px;
        color: rgb(158, 131, 131);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .mannoticetitle {
        position: absolute;
        left: 16px;
        bottom: 528px;
        color: rgb(22, 16, 16);
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    .manage2notice {
        width: 850px;
        height: 475px;
        background-color: #383333;
        color: rgb(187, 167, 167);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
      
      .noticebackbtn1 {
        background-color: blue;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        position: absolute;
        bottom: 2%;
        left: 2.5%;
        cursor: pointer;
        transition: 0.5s ease;
      }
      
      .noticebackbtn1:hover {
        background-color: red;
      }

    
    .ncellColor1 {
        color: rgb(12, 9, 9) !important;
        font-size: 100px;
        background-color: #ececec;
    }

    .ncellColor2{
        color: rgb(0, 0, 0) !important;
        background-color: #C4C4C4;
    }
    
    .nheadcolor1 {
        border: 1px solid #000000;
        border-radius: 5px;
        font-weight: bold;

    }
    .noticeselect{
        background-color: rgba(117, 70, 80, 0.356);
        border-radius: 5px;

    }