.dashboardMain {
    height: 100vh;
    width: 100%;
    display: flex;
}

.leftLinks {
    width: 30%;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 38px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.hero {
    width: 70%;
    background-color: #ffffff;
    margin: 12px 10px;
    border-radius: 38px;
    position: relative;
    display: flex;
}

.photogroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photogroup .photo {
    height: 12vh;
    width: 12vh;
    background-color: violet;
    border-radius: 50%;
    background-image: url("../../assets/admin.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid blue;
    box-shadow: 5px 5px 10px 0px grey;
}

.profileName {
    color: rgb(0, 0, 0) !important;
    font-size: 1.5em !important;
    margin-top: 5px;
}

.dashLinks ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.dashLinks .links .link {
    background-color: #c4c4c4;
    width: 80%;
    padding: 13px 0px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    cursor: pointer;
    border: 2px solid royalblue;
    transition: 0.3s ease;
}

#active {
    background-color: #2f4ce1;
    color: white;
    font-weight: bold;
}

.lgoutbtn {
    position: absolute;
    bottom: 3%;
    left: 35%;
    background-color: #000000;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.dashLinks .links .link:hover {
    color: rgb(59, 18, 134);
    font-weight: bold;
}

.lgoutbtn:hover {
    background-color: red;
}

@media (max-width: 1366px) {
    .dashLinks .links .link {
        padding: 8.5px 0px;
    }
}