.main1{
    display: block;
    
    cursor: pointer;
    margin: 70px 50px;
}

.h2{
    text-align: center;
    padding:20px;
    font-family: Roboto;
}

.register{
    position: absolute;
    margin: 50px 2px;
    width: 782px;
    height: 782px;
    left: 20px;
    top: 0px;
    background-color: #000000;
    background:blue;
    border: 2px solid #04050f;
    box-sizing: border-box;
    box-shadow: 5px 3px 10px 1px rgba(182, 8, 8, 0.56);
    border-radius: 40px;
    box-shadow: 3px 3px 15px;


}
.register1{
    margin:40px;
    text-align: 30px;
    
}
.label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
}
.name{
    width:650px;
    border-radius: 23px;
    outline: 0;
    padding: 7px; 
    margin:10px;
}
.Backbtn13{
 
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:20px;
    width: 250px;
    font-family: italic


}
.Backbtn12{
    display: inline-block;
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px;
    margin-right: 170px;
    font-family: italic;
    border-radius: 10px;
    left: 425px;
top: 599px;
  }
  
  
  .Backbtn12 {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:20px;
    width: 250px;
    
  }
  
  .Backbtn12:hover {background-color:red}
  
  .Backbtn13:hover {background-color:red}
  
  .name1:hover{ border-color: 10px solid #ce730a}