/*/////// Title /////////*/
.ud_Edit_add_Order_Formm1{
    top: 20px;
    left: 20px;
    width: 980px;
    height: 600px;
    top: 58px;
    left: 35px;
    background-color: #c4c4c4;
    border-radius: 30px;
    color: rgb(158, 131, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .ud_Edit_add_Order_title {
    position: absolute;
    left: 16px;
    bottom: 528px;
    color: rgb(22, 16, 16);
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  /*//////////Second layer form/////////////*/
  
  .ud_Edit_add_Order_form2{
    position: relative;
    width: 960px;
    height: 500px;
    margin-left: -5px;
    top: 10px;
    background: #f4eaea;
    border: 3px solid #000105;
    box-sizing: border-box;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.56);
    border-radius: 45px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_Photo {
    position: fixed;
    top: 200px;
    left: 1190px;
    width: 15vw;
    height: 13vw;
    border-radius: 20px;
    background-image: url("../../assets/manageFeedback.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 145%;
    border: 2px solid rgb(236, 11, 11);
    transition: 0.5s ease;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name1 {
    margin-left: 60px;
    position: absolute;
    margin-top: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #0e0808;
  }
  .ud_Edit_add_Order_box1 {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 570px;
    height: 35px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name2 {
    margin-left: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #0a0505;
  }
  
  .ud_Edit_add_Order_box2 {
    margin-left: 5px;
    margin-bottom: 50px;
    right: -0px;
    left: -20px;
    width: 110px;
    height: 30px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name3 {
    margin-left: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #080707;
  }
  .ud_Edit_add_Order_box3 {
    position: relative;
    margin-left: 28px;
    right: 20px;
    padding: 13px;
    width: 100px;
    height: 8px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name4 {
    margin-left: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #080505;
  }
  .ud_Edit_add_Order_box4 {
    position: relative;
    margin-left: 30px;
    margin-bottom: 60px;
    right: 20px;
    padding: 13px;
    width: 100px;
    height: 8px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name5 {
    margin-left: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #070404;
  }
  .ud_Edit_add_Order_box5 {
    position: relative;
    margin-left: 30px;
    right: 20px;
    padding: 13px;
    width: 170px;
    height: 6px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*//////////////////////*/
  .ud_Edit_add_Order_name6 {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 60px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
    color: #070303;
  }
  .ud_Edit_add_Order_box6 {
    position: relative;
    margin-left: 80px;
    margin-top: 10px;
    right: 20px;
    padding: 13px;
    width: 570px;
    height: 80px;
    background: #c4c4c4;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 20px;
  }
  
  /*Previous button*/
  .ud_Edit_add_Order_Backbutton {
    height: 35px;
    width: 120px;
    top: 470px;
    margin-left: 660px;
    background-color: blue;
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .ud_Edit_add_Order_Backbutton:hover {
    background-color: red;
  }
  
  /*Save Order Details button*/
  .ud_Edit_add_Order_Savebutton {
    height: 35px;
    width: 115px;
    top: 400px;
    left: 760px;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .ud_Edit_add_Order_Savebutton:hover {
    background-color: red;
  }
  