.row {
  width: 100%;
  height: 100%;
  position: absolute;
}


/*---------Form1---------------*/
.ud_Msupplier_Form1 {
  top: 20px;
  left: 20px;
  width: 950px;
  height: 80vh;
  top: 58px;
  left: 40px;
  background-color: #C4C4C4;
  border-radius: 30px;
  color: rgb(158, 131, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*----------------Title-------*/
.ud_Msupplier_title {
position: absolute;
left: 50px;
bottom: 528px;
color: rgb(22, 16, 16);
font-size: 1.8em;
font-weight: bold;
margin-bottom: 12px;
text-transform: uppercase;
}


/*---------Form2---------------*/
.ud_Msupplier_Form2 {
width: 850px;
height: 475px;
background-color: #383333;
color: rgb(187, 167, 167);
display: flex;
align-items: center;
justify-content: center;
position: relative;
}



/*------search button-------*/

.ud_Msupplier_Search{
  margin-top: 5px;
  margin-left: 10px;
}
.ud_Msupplier_Search_name {
  height: 30px;
  width: 250px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 85, 255);
  border-radius: 17px;
  font-size: 15px;
  font-weight: bold;
}
.ud_Msupplier_Search_name:hover {
  border: 2px solid rgb(255, 0, 0);
}

.ud_Msupplier_search_Button {
  position: relative;
  margin-left: -40px;
  top: 3px;
  color: rgb(255, 255, 255);
  background-color: black;
  width: 30px;
  height: 30px;
}
.ud_Msupplier_search_Button:hover {
  color: #ff0000;
}


/*-------row--color-----*/

.ud_Msupplier_cellColor{
color: white !important;
}

.ud_Msupplier_headcolor{
border: 1px solid #00FF75;
border-radius: 5px;
}



/**------Edit---icon----***/
.ud_Msupplier_Edit_Icon5{
  color: rgb(0, 60, 255) !important;
  cursor: pointer;
  background-color: #c04ddd;
}
.ud_Msupplier_Edit_Icon5:hover{
  color: rgb(190, 16, 16) !important;
}
.ud_Msupplier_Edit_Icon6{
  color: rgb(0, 60, 255) !important;
  cursor: pointer;
  width: 50px;
  background-color: #dbdd4d;
}
.ud_Msupplier_Edit_Icon6:hover{
  color: rgb(190, 16, 16) !important;
  background-color: #000000;
}


/*--------------/*Icon delete button------------------*/
.ud_Msupplier_deleteIcon7{
  color: rgb(216, 10, 20) !important;
  cursor: pointer;
  background-color: #66c977;
  }
  
  .ud_Msupplier_deleteIcon7:hover{
    color: #8ff86e !important;
  }

  .ud_Msupplier_deleteIcon8{
    color: rgb(216, 10, 20) !important;
    cursor: pointer;
    width: 50px;
    background-color: #ddc34d;
    }
    
    .ud_Msupplier_deleteIcon8:hover{
      color: #8ff86e !important;
      background-color: #000000;
    }
  






  /*Add Supplier  button*/
  .ud_Msupplier_addbutton {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 2%;
    right:  2.5%;
    cursor: pointer;
    transition: 0.5s ease;
    }
    
    .ud_Msupplier_addbutton:hover {
    background-color: red;
    }
  

/*Previous button*/
.ud_Msupplier_back_button {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 2%;
  left: 2.5%;
  cursor: pointer;
  transition: 0.5s ease;
  }
  
  .ud_Msupplier_back_button:hover {
  background-color: red;
  }
  
/*Pdf button*/
.ud_Msupplier_Pdf_Button {
  background-color: blue;
  color: white;
  padding: 7px 13px;
  border-radius: 5px;
  position: absolute;
  bottom: 2%;
  left: 83.1%;
  cursor: pointer;
  transition: 0.5s ease;
}

.ud_Msupplier_Pdf_Button:hover {
  background-color: red;
}