.Home {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/lightning-1056419__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}