.about {
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/about.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}